* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightpink;
    
}

.topo {
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo1 {
    margin: 0;
}

.logo1 img{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    background-color: purple;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo {
    height: 10rem;
    display: block;
    align-items: center;
    justify-content: center;
}

.corpo h1{
    color: rgb(66, 18, 110);
    font-family: cursive;
    font-style: italic;
    text-align: center;
    padding: 20px;
}

.corpo p{
    padding: 10px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;

}

.acervo{
    display: flex;
    justify-content: center;
    /*border: 1px solid black;
    border-radius: 10px;*/
}

.rodape {
    background-color: rgb(100, 100, 100);
    color: #fff;
    text-align: center;
    padding: 15px;
    bottom: 0%;
}
/*
.rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10px;
    margin-top: 20px;
}
*/

ul {
    list-style-type: none;
    margin: auto;
    display: inline-flexbox;
    padding: 0;
    overflow: hidden;
}

li {
    color: white;
    font-size: 18px;
    float: left;
    display: block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    padding: 1px;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: hotpink;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
